			<!-- Main -->
				<div class="wrapper style2">
					<div class="title">Careers</div>
					<div id="main" class="container">

						<!-- Content -->
							<div id="content">
								<article class="box post">
									<header class="style1">
										<h2>Come work and argue with some of the best and brightest</h2>
									</header>
									<a href="#" class="image featured">
										<img src="../../../images/night.jpg" alt="" />
									</a>
									<div class="row 150%">
										<div class="4u 12u(mobile)">
											<section class="box">
												<h2>Full Stack Software Engineer</h2>
												<br>
												<button>Apply</button>
											</section>
											<section class="box">
												<h2>Director of Marketing</h2>
												<br>
												<button>Apply</button>
											</section>
											<section class="box">											
												<h2>Product Manager</h2>
												<br>
												<button>Apply</button>
											</section>
											<section class="box">
												<h2>Account Executive</h2>
												<br>
												<button>Apply</button>
											</section>
										</div>
									</div>
								</article>
								<div class="row 150%">
									<div class="4u 12u(mobile)">
										<section class="box">
											<header>
												<h2>The Motto</h2>
											</header>
											<a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
											<p>Teamwork, mentorship, and drive.<br>
											We want the most talented and hard<br>
											working	people in the industry to<br>
											join us at Slipslo.</p>
											<a href="#" class="button style1">More</a>
										</section>
									</div>
									<div class="4u 12u(mobile)">
										<section class="box">
											<header>
												<h2>Experienced Professionals</h2>
											</header>
											<a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a>
											<p>Training never ends.<br>
											Recieve mentorship from some<br>
											of the best in the industry<br>
											and help us grow Slipslo.</p>
											<a href="#" class="button style1">More</a>
										</section>
									</div>
									<div class="4u 12u(mobile)">
										<section class="box">
											<header>
												<h2>University Recruiting</h2>
											</header>
											<a href="#" class="image featured"><img src="images/pic07.jpg" alt="" /></a>
											<p>Career Fairs we will be attending:<li> Wake Forest University</li><li> Duke University</li><li>UNC</li></p>
											<a href="#" class="button style1">More</a>
										</section>
									</div>
									<div class="4u 12u(mobile)">
										<section class="box">
											<header>
												<h2>Career Growth</h2>
											</header>
											<a href="#" class="image featured"><img src="images/pic07.jpg" alt="" /></a>
											<p>Your growth with the company is critical<br>
											to us. We want you to reach your potential.<br>
											That's why we offer free courses and believe<br>
											in merit based promotions.</p>
											<a href="#" class="button style1">More</a>
										</section>
									</div>
								</div>
							</div>
					</div>
				</div>