        		<div class="wrapper style2">
					<div id="main" class="container">

						<!-- Content -->
						<div class="table-title">
							<h3>Vote For Your Favorite Topic</h3>
						</div>
						<div *ngIf="nothingChecked">
							<p style="background-color: red; color:white; text-align:center">Must Check A Topic</p>
						</div>
						<table class="table-fill">
							<thead>
								<tr>
									<th class="text-left">Topic</th>
									<th class="text-left">Option1</th>
									<th class="text-left">Option2</th>
									<th class="text-left">Vote</th>
								</tr>
							</thead>
							<tbody class="table-hover" *ngFor="let item of items | async">
								<tr>
								<td class="text-left">{{item.topic}}</td>
								<td class="text-left">{{item.option1}}</td>
								<td class="text-left">{{item.option2}}</td>
								<td class="text-left"><input type="radio" [(ngModel)]="result" class="option-input radio" name="example" [value]=item/></td>							
								</tr>
							</tbody>
						</table>
						<br><br>
						<div id="wrapper">	
							<button class="button" (click)="incrementVoteValue(result)">Submit</button>			
						</div>	
					</div>
				</div>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>