        		<div class="wrapper style2">
					<div id="main" class="container">

						<!-- Content -->
						<div class="table-title">
							<h3>Vote For Your Favorite Topic</h3>
						</div>
						<table class="table-fill">
							<thead>
								<tr>
									<th class="text-left">Topic</th>
									<th class="text-left">Option1</th>
									<th class="text-left">Option2</th>
									<th class="text-left">Vote</th>
								</tr>
							</thead>
							<tbody class="table-hover">
								<tr>
								<td class="text-left">Religion</td>
								<td class="text-left">I Believe In A God/Gods</td>
								<td class="text-left">All Made Up</td>
								<td class="text-left"><input type="radio" class="option-input radio" name="example"/></td>							
								</tr>
								<tr>
								<td class="text-left">Legalization Of Marijuana</td>
								<td class="text-left">Legalize It</td>
								<td class="text-left">Should Be Illegal</td>
								<td class="text-left"><input type="radio" class="option-input radio" name="example"/></td>								
								</tr>
								<tr>
								<td class="text-left">Abortion</td>
								<td class="text-left">Pro-Life</td>
								<td class="text-left">Pro-Choice</td>
								<td class="text-left"><input type="radio" class="option-input radio" name="example"/></td>								
								</tr>
							</tbody>
						</table>	
						<button class="btn btn-success">Submit</button>						
					</div>
				</div>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>