<!-- Main -->
				<div class="wrapper style2">
					<div class="title">Vote</div>
					<div id="main" class="container">
								<!-- Content -->
									<div id="content">
										<article class="box post">
											<header class="style1">
												<h2>Vote for potential debate topics</h2>
												<p></p>
											</header>
											<a href="#" class="image featured">
												<img src="images/pic01.jpg" alt="" />
											</a>
										</article>
										<div class="row 150%">
											<div class="6u 12u(mobile)">
												<section class="box">
													<header>
														<h2>Vote for Topic of the Day</h2>
													</header>
													<a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
													<p> Most voted topic will be an option for tomorrow!</p>
													<a href="#" class="button style1">Vote</a>
												</section>
											</div>
											<div class="6u 12u(mobile)">
												<section class="box">
													<header>
														<h2>Vote for Long Duration Topics</h2>
													</header>
													<a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a>
													<p> Most voted topics could become weekly, monthly, or even permanent options.</p>
													<a href="#" class="button style1">Vote</a>
												</section>
											</div>
										</div>
									</div>
								</div>
				</div>
