        		<div class="wrapper style2">
					<div id="main" class="container">

						<!-- Content -->
						<div class="table-title">
							<h3>Vote For Topic Of The Day</h3>
						</div>
						<table class="table-fill">
							<thead>
								<tr>
									<th class="text-left">Topic</th>
									<th class="text-left">Option1</th>
									<th class="text-left">Option2</th>
									<th class="text-left">Vote</th>
								</tr>
							</thead>
							<tbody class="table-hover">
								<tr>
								<td class="text-left">Red Sox vs Yankess</td>
								<td class="text-left">Red Sox</td>
								<td class="text-left">Yankees</td>
								<td class="text-left"><input type="radio" class="option-input radio" name="example"/></td>							
								</tr>
								<tr>
								<td class="text-left">Mayweather vs McGregor</td>
								<td class="text-left">Mayweather</td>
								<td class="text-left">McGregor</td>
								<td class="text-left"><input type="radio" class="option-input radio" name="example"/></td>								
								</tr>
								<tr>
								<td class="text-left">Fruit</td>
								<td class="text-left">Apples</td>
								<td class="text-left">Grapes</td>
								<td class="text-left"><input type="radio" class="option-input radio" name="example"/></td>								
								</tr>
							</tbody>
						</table>	
						<button class="btn btn-success">Submit</button>						
					</div>
				</div>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>