<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row columns">
  <button (click)="login()"  *ngIf="!(user | async)?.uid">Anonymous Login</button>
  <button (click)="logout()" routerLink="../home " *ngIf="(user | async)?.uid">Logout</button>

  <input type="text" id="message" *ngIf="(user | async)?.uid" placeholder="Well let's hear it.........Type Here" (keyup.enter)="Send($event.target.value)" [(ngModel)]="msgVal" />
  <div id="details-container">
      <p *ngFor="let item of items | async">{{item.id}}<br>{{item.message}}</p>
  </div>
    <input type="text" id="message" *ngIf="(user | async)?.uid" placeholder="Well let's hear it.........Type Here" (keyup.enter)="Send($event.target.value)" [(ngModel)]="msgVal" />
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>